<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Google Map</title>

    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        height: 300px;
      }
    </style>
  </head>

  <body>
    <div id="map"></div>

    <form class="" method="post">
      <input type="text" name="territory" id="territory">
      <input type="submit" name="" value="Submit">
    </form>
    <script>

      function initMap() {
        // Option
        let options = {
          zoom: 15,
          center: {lat: -6.175110, lng: 106.865039},
          disableDefaultUI: true
        }

        // new map
        const map = new google.maps.Map(document.getElementById('map'), options)
        const image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';

        // Marker

        let markers = []
        <% rows.forEach(row => { %>
            markers.push({
              coords: {
                lat: <%= row.latitude %>,
                lng: <%= row.longitude %>
              },
              content: '<b><%= row.name %></b><br/><%= row.address %>'
            })
        <% }) %>

        markers.forEach(function(data) {
          addMarker(data)
        })

        function addMarker(props) {
          let marker = new google.maps.Marker({
            position:props.coords,
            map:map,
            icon:image
          })

          let infoWindow = new google.maps.InfoWindow({
            content:props.content
          })

          marker.addListener('click', function() {
            infoWindow.open(map, marker)
          })
        }

        // current Location
        var geocoder = new google.maps.Geocoder;

        let currentInfoWindow = new google.maps.InfoWindow;

        // Try HTML5 geolocation.
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            };

            geocoder.geocode({'location':pos}, function(results) {
              results.forEach(dataResult=>{
                dataResult.address_components.forEach(dataRe=>{
                  // console.log(dataRe);
                  if (dataRe.types[0] == 'administrative_area_level_3') {
                    window.location.replace( http://localhost:3000/users?territory=dataRe.long_name)
                  }

                })
              })
            })

            currentInfoWindow.setPosition(pos);
            currentInfoWindow.setContent('Your Location Here ..!');
            currentInfoWindow.open(map);
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, currentInfoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, currentInfoWindow, map.getCenter());
        }

        // geocoder.geocode({'location': latlng}, function(results, status) {
        //   if (status === 'OK') {
        //     if (results[0]) {
        //       map.setZoom(11);
        //       var marker = new google.maps.Marker({
        //         position: latlng,
        //         map: map
        //       });
        //       infowindow.setContent(results[0].formatted_address);
        //       infowindow.open(map, marker);
        //     } else {
        //       window.alert('No results found');
        //     }
        //   } else {
        //     window.alert('Geocoder failed due to: ' + status);
        //   }
        // });


      }

      function handleLocationError(browserHasGeolocation, currentInfoWindow, pos) {
        currentInfoWindow.setPosition(pos);
        currentInfoWindow.setContent(browserHasGeolocation ?
                              'Error: The Geolocation service failed.' :
                              'Error: Your browser doesn\'t support geolocation.');
        currentInfoWindow.open(map);
      }

    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCz4uuvcIers4wkNU6ZAkJS9m6ln0IRH8&callback=initMap">
    </script>
  </body>
</html>
