<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>My Google Map</title>

    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        height: 300px;
      }
    </style>
  </head>

  <body>
    <div id="map"></div>

    <script>
      let lat = ''
      let lng = ''

      var options = {
        enableHighAccuracy: true,
        timeout: 5000,
        maximumAge: 0
      };

      function success(pos) {
        const coords = pos.coords;
        lat = coords.latitude
        lng = coords.longitude
      };

      function error(err) {
        console.warn(`ERROR(${err.code}): ${err.message}`);
      };

      navigator.geolocation.getCurrentPosition(success, error, options);

      function initMap() {
        // Option
        let options = {
          zoom: 15,
          center: {lat: lat, lng: lng},
          disableDefaultUI: true
        }

        // new map
        const map = new google.maps.Map(document.getElementById('map'), options)
        const image = 'https://developers.google.com/maps/documentation/javascript/examples/full/images/beachflag.png';

        // Marker
        let markers = []
        <% rows.forEach(row => { %>
            markers.push({
              coords: {
                lat: <%= row.latitude %>,
                lng: <%= row.longitude %>
              },
              content: '<b><%= row.name %></b><br/><%= row.address %>'
            })
        <% }) %>

        markers.forEach(function(data) {
          addMarker(data)
        })

        function addMarker(props) {
          let marker = new google.maps.Marker({
            position:props.coords,
            map:map,
            icon:image
          })

          let infoWindow = new google.maps.InfoWindow({
            content:props.content
          })

          marker.addListener('click', function() {
            infoWindow.open(map, marker)
          })
        }
      }
    </script>

    <script async defer
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBCz4uuvcIers4wkNU6ZAkJS9m6ln0IRH8&callback=initMap">
    </script>
  </body>
</html>