<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Register</h1>
    <form class="" method="post">
      <input type="text" name="name" value="" placeholder="Input Your Name">
      <input type="text" name="email" value="" placeholder="Input Your Email">
      <input type="text" name="password" placeholder="Input Your Password">
      <select name="role" >
        <option selected disabled>Click to Choose--</option>
        <option value="user">User</option>
        <option value="owner">Owner</option>
      </select>
      <input type="submit" name="" value="Submit">
    </form>
  </body>
</html>
